{{ define "main" }}
  <article>
    <header class="max-w-prose">
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
      <!-- <div class="mt-8 mb-12 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
        {{ partial "article-meta.html" (dict "context" . "scope" "single") }}
      </div> -->
    </header>
    <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      {{ if and (.Params.showTableOfContents | default (.Site.Params.article.showTableOfContents | default false)) (in .TableOfContents "<ul") }}
        <div class="order-first px-0 lg:order-last lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8">
          <div class="toc ltr:pl-5 rtl:pr-5 print:hidden lg:sticky lg:top-10">
            {{ partial "toc.html" . }}
          </div>
        </div>
      {{ end }}
      <div class="min-w-0 min-h-0">
        <table>
            <thead>
              <tr>
                <th>Video</th>
                <th>Topics</th>
                <th>Content</th>
                <th>Includes a Quiz?</th>
                <th>Worksheet Link</th>
                <th>Teacher Answer Link</th>
                <th>Teacher Resources</th>
              </tr>
            </thead>
            <tbody>
                {{ range (where .Site.RegularPages.ByTitle "Section" "our-videos" ) }}
                <tr>
                <td><a href="{{ .Params.video_link }}">{{ .Params.video_title | humanize | title }}</a></td>
                <td>{{ .Params.topics }}</td>
                <td>{{ .Params.contents_of_the_video }}</td>
                <td>{{ .Params.includes_a_quiz }}</td>
                <td>{{ .Params.worksheet_link }}</td>
                <td>{{ .Params.teacher_answer_link }}</td>
                <td>{{ .Params.teacher_resources }}</td>
              </tr>
            {{ end }}
            </tbody>
            </table>
            
        
      </div>
    </section>
    <footer class="pt-8 max-w-prose print:hidden">
      {{ partial "author.html" . }}
      {{ partial "sharing-links.html" . }}
      {{ partial "article-pagination.html" . }}
      {{ if .Params.showComments | default (.Site.Params.article.showComments | default false) }}
        {{ if templates.Exists "partials/comments.html" }}
          <div class="pt-3">
            <hr class="border-dotted border-neutral-300 dark:border-neutral-600" />
            <div class="pt-3">
              {{ partial "comments.html" . }}
            </div>
          </div>
        {{ else }}
          {{ warnf "[CONGO] Comments are enabled for %s but no comments partial exists." .File.Path }}
        {{ end }}
      {{ end }}
    </footer>
  </article>
{{ end }}
